html, body {
	overflow-x: hidden;
	font-family: Roboto,sans-serif;
}
.trans-div {
	position:absolute;
	padding-left:-100px;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	transition-duration:1s;
	transition-property: padding-left;
}
.trans-div:hover {
	padding-left:200px;
	padding-right:0%;
}
.jumbotron {
	color:white;
}
.title {
	width:100%;
	text-align:center;
}
a.login {
	width: 200px;
	margin:-100 auto;
}
a.register {

}
