<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/icons/favicon.ico" rel="icon" type="image/ico">
    <link href="/static/index.css" rel="stylesheet" />
</head>
<title>
</title>

<body>
    <div id="sidebar-wrapper">
        <div id="sidebar">
        </div>
    </div>
    <div id="wrapper">
        <div id="content-wrapper">
            <div id="content">
            	
	    </div>
        </div>
        <div id="footer-wrapper">
            <div id="footer">
                <span></span>
            </div>
        </div>
    </div>
</body>

</html>
